body {
    background-image: url('/images/table-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#form-container {
    width: 300px;
    margin: auto;
    background-color: white;
}

form {
    text-align: center;
}

div {
    margin-bottom: 10px;
}

.center {
    text-align: center;
    margin-top: 10px;
}

#error-messages {
    text-align: center;
}